<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%=title%></title>
<meta name="description" content="<%=title%>">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<script defer data-domain="fabform.io" src="https://plausible.io/js/plausible.js"></script>
<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.14/widget.module.min.js"
  async
  defer
></script>
</head>
