<%- include('partials/header') %>
<div class="flex items-center justify-center h-screen">
  <div class="text-center">
    <section class="hero bg-white">
      <div class="hero-body">
        <div class="container mx-auto text-center">

<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
  <strong class="font-bold">Error!</strong>
  <span class="block sm:inline"><%-message%></span>
</div>

<%- include('partials/footer') %>
  </div>
      </div>
    </section>
  </div>
</div>


