<%- include('partials/header') %>

<div class="flex items-center justify-center h-screen bg-white">
  <div class="text-center space-y-8">

    <!-- Main Message -->
    <section class="container mx-auto text-center">
      <h1 class="text-3xl font-semibold text-gray-800 mb-4">
        <%= message %>
      </h1>
    </section>

    <%- include('partials/footer') %>

  </div>
</div>

<script>
  var element = document.getElementById('back-link');
  element.setAttribute('href', document.referrer);

  element.onclick = function () {
    history.back();
    return false;
  };
</script>

