body {
 /* background-image: url("/img/background.jpg"); */
background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

pre {
background:black;
margin:0;
padding:0;
border-width: 4px;
border-style: solid;
border-color: #006100;
}

 .hljs {
background:black !important;
font-size: 20px;
margin:0;
padding:0;
 }

